/* ==============================================================
		colours
============================================================== */

$primaryColor: #333;
$secondaryColor: #333;

/* ==============================================================
		responsive
============================================================== */

@mixin break($point) {
	@if $point == laptop {
		@media (max-width: 1100px) { @content; }
	}
	@else if $point == tablet {
		@media (max-width: 900px) { @content; }
	}
	@else if $point == phone {
		@media (max-width: 480px)  { @content; }
	}
}

@mixin custombreak($point) {
    @media all and (max-width: $point) { @content; }
}

/* ==============================================================
		grid settings
============================================================== */

$total-columns  : 12;
$column-width   : 4em;  
$gutter-width   : 1em;      
$grid-padding   : $gutter-width; 