// ==============================================================
//		colours
// ==============================================================

$primaryColor: #333;
$secondaryColor: #333;

// ==============================================================
//		fonts
// ==============================================================

// ==============================================================
//		margins and padding
// ==============================================================

// ==============================================================
//		Susy grid settings
// ==============================================================

$total-columns  : 12;
$column-width   : 4em;  
$gutter-width   : 1em;      
$grid-padding   : $gutter-width; 